.app-wrapper{
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: h;
  background-color: green;
}
.header img{
  height: 100%;
  display: block;
}

.nav{
  grid-area: n;
  background-color: #f16051;
}

.content{
  grid-area: c;
  background-color: #5bc0de;
}
